{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>MediBox Patients</h1>
            <p class="lead">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Alert</th>
                    <th>Adherence</th>
                    <th>Behaviour</th>

                  </tr>
                </thead>
              </table>
              <div>

</div>
            </p>
        </div>
    </div>
</div>
{% endblock body %}